<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <div class="container mx-auto mt-28 px-5 flex">
  

      <header class=" m-0 grid absolute left-0 top-0 h-16 bg-cyan-400 w-full content-center grid-flow-row"> 
          <h1 class= "absolute left-4 self-center font-sans font-bold text-xl">
              Members Only
          </h1>
      </header>

      
      <main class="grid grid-flow-col gap-30 bg-sky-600">
        <div class= "w-1/6 grid absolute left-0 ">
          <div class="grid place-self-center ">
                  <% if user_signed_in? %>
                      <p class="mb-4"> 
                          Signed in as <%= current_user.username %>
                      </p>
                      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: button_to, data: {turbo: false} %>
                  <% else %>
                      <%= link_to "Sign in", new_user_session_path, class: button_to %>
                    <% end %>
            </div>
        </div>
        <div class=" grid bg-slate-300 w-5/6 absolute right-0" data-turbo="false"> 
              <%= yield %>

        </div>
        </main> 
        </div>

   


   
  </body>
</html>
